.w-divider-con .w-divider {
  border: none
}

.w-list-data {
  background: #fafafa;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 200px;
  font-size: 1.2em;
  max-height: 380px;
  overflow: auto;
}

.w-list-data a {
  display: block;
  padding-left: 10px;
  line-height: 2pc;
  position: relative;
  border-bottom: 1px solid #ccc;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff
  cursor: pointer;

  &:last-of-type {
      border-bottom: none;
  }
}

.w-list-data a .glyphicon-ok {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  color: #5bbd72;
  display: none
}

.w-list-content {
  border: 1px solid #ccc;
  border-left: none
}

.w-list-data .w-changed:before {
  content: '*';
  color: red;
  margin-right: 5px
}

.w-list-data a:hover {
  color: #337ab7
}

.w-list-data .w-active {
  background: #337ab7;
  color: #fff !important
}

.w-list-data .w-selected {
  font-weight: 700;
  color: darkviolet;
}

.w-list-data .w-selected .glyphicon-ok {
  display: inline-block
}

.w-list-data span.w-whistle-tpl {
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 3px;
  top: 2px;
  background: center center no-repeat;
  background-size: 100%
}


#refineTips {
  width: 280px;
}

code {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px dotted #666;
  padding: 0 5px;
}

a:active {
  color: #5bbd72
}




.form-control {
  width: 250px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;

  label {
    width: 40px;
    display: inline-block;
  }

  input {
    flex: 1;
    height: 34px;
    box-sizing: border-box;
    padding: 6px 9pt;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
}


.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 9pt;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
