@import '../../../stylesheets/variable.styl'

.refine-tips {
  padding: 15px;

  h2 {
    font-weight: 400;
  }

  h3 {
    font-weight: 200;
  }

  .code {
    border-radius: 2px;
    border: 1px dotted w-gray;
    padding: 0 5px;
    margin-left: 8px;

    &+svg {
      margin-left: 1px;
    }
  }

  p {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    display: inline-block;
    font-size: 0.9em;
    margin-left: 10px;

    &.link {
      cursor: pointer;
    }
  }
}
